<mat-toolbar class="navbar-maia">
  <mat-toolbar-row>
    <button mat-icon-button class="btn-menu" (click)="onMobileMenuClick()">
      <mat-icon class="disable-select">menu</mat-icon>
    </button>
    <h1>Maia</h1>
    <div style="flex: 1;"></div>
    <input class="input-pesquisa" #inputPesquisa *ngIf="searching|| pesquisa"
      placeholder="Insira uma #tag ou procure por uma música." [(ngModel)]="pesquisa" (keypress)="onKeyPress($event)">
    <button type="button" mat-icon-button aria-label="cancelar" *ngIf="searching || pesquisa" (click)="onCancelSearch()" style="outline: none">
      <mat-icon>cancel</mat-icon>
    </button>
    <button type="button" mat-icon-button aria-label="pesquisar" (click)="onSearch()" style="outline: none">
      <mat-icon>search</mat-icon>
    </button>
    <div class="navigators-pc">
      <a mat-button [routerLink]="['/admin']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: false}" *ngIf="admin" style="text-decoration: none;" (click)="onNavigate('admin')"> Admin </a>
      <a mat-button [routerLink]="['/feed']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" style="text-decoration: none;" (click)="onNavigate('feed')"> Feed </a>
      <a mat-button [routerLink]="['/letras']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" style="text-decoration: none;" (click)="onNavigate('letras')"> Letras </a>
      <a mat-button [routerLink]="['/partituras']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" style="text-decoration: none;" (click)="onNavigate('partituras')"> Partituras </a>
      <a mat-button [routerLink]="['/tabs']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" style="text-decoration: none; margin-right: 8px" (click)="onNavigate('tabs')"> Tablaturas </a>
      <button type="button" mat-icon-button *ngIf="! usuario.urlImagem" style="outline: none" class="btn-usuario" [matMenuTriggerFor]="userMenu">
        <mat-icon class="user-icon">person</mat-icon>
      </button>
      <button type="button" mat-icon-button *ngIf="usuario.urlImagem" style="outline: none" class="btn-usuario" [matMenuTriggerFor]="userMenu">
        <img [src]="usuario.urlImagem" class="user-avatar">
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #userMenu="matMenu">
  <button mat-menu-item type="button" style="outline: none" [routerLink]="['/perfil']"> {{ usuario.nome }}</button>
  <button mat-menu-item type="button" style="outline: none" (click)="onLogout()" tabindex="-1">Sair</button>
</mat-menu>
