h1 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.active {
  background-color: #0003;
}

.navbar-maia {
  flex: 1;
  min-height: 48px;
  background-color: #FFBF00;
  justify-content: center;
}

.btn-menu {
  margin-right: 10px;
}

.btn-usuario {
  border: 0.8px solid #0006;
}

.user-icon {
  font-size: 30px;
  margin-right: 7px;
  margin-bottom: 4px;
}

.user-avatar {
  border-radius: 50%;
  object-fit: cover;
  max-height: 40px;
  max-width: 40px;
  margin-bottom: 2px;
  margin-right: 2px;
}

.input-pesquisa {
  border-radius: 15px;
  border: none;
  margin-top: 3px;
  max-width: 500px;
  min-width: 80px;
  width: 70%;
  padding-left: 10px;
}
