<mat-toolbar color="accent" class="navbar-maia">
  <mat-toolbar-row>
    <button mat-icon-button class="btn-menu">
      <mat-icon class="disable-select">menu</mat-icon>
    </button>
    <h1>Maia</h1>
    <div style="flex: 1;"></div>
    <div>
      <a mat-button [routerLink]="['/feed']" routerLinkActive="active"> Feed </a>
      <a mat-button [routerLink]="['/letras']"> Letras </a>
      <a mat-button [routerLink]="['/partituras']"> Partituras </a>
      <a mat-button [routerLink]="['/tabs']"> Tablaturas </a>
      <button type="button" mat-icon-button *ngIf="! usuario.urlImagem" class="btn-usuario" [matMenuTriggerFor]="userMenu">
        <mat-icon class="user-icon">person</mat-icon>
      </button>
      <button type="button" mat-icon-button *ngIf="usuario.urlImagem" class="btn-usuario" [matMenuTriggerFor]="userMenu">
        <img [src]="usuario.urlImagem" class="user-avatar">
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #userMenu="matMenu">
  <p disabled>{{ usuario.nome }}</p>
  <button mat-menu-item type="button" (click)="onLogout()">Sair</button>
</mat-menu>
