<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Músicas</h1>
    <div class="content">
      <a mat-button [routerLink]="['lista']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Listar Músicas
              </div>
            </mat-card-title>
            <img src="assets/img/animals.jpg" alt="Pink Floyd - Animals">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['add']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Adicionar Música
              </div>
            </mat-card-title>
            <img src="assets/img/fragile.jpg" alt="Yes - Fragile">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
