/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-wrapper {
  padding-bottom: 0;
}

body {
  background-color: #222;
}

* {
  outline: none;
}

button {
  outline: none;
}


.snackbar-error {
  background: #AB0000;
  color: #000;
  font-size: 26px;
}

.snackbar-success {
  background-color: #291;
}

.angular-editor-textarea {
  border: 1px solid #DDD !important;
  border-radius: 10px;
  padding: 1px;
  resize: none !important;
  text-align: center;
}

.angular-editor-placeholder {
  width: 100%;
  text-align: center;
  cursor: text;
}

#toggleEditorMode- {
  display: none;
}
