<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 root">
      <h1>Lista de Músicas</h1>
      <div class="row">
        <div class="item-musica" *ngFor="let musica of musicas">
          <a mat-button (click)="onMusicaClick(musica)">
            <mat-card>
              <div class="card-row">
                <img class="img-musica" [src]="musica.urlImagem">
                <div class="card-column">
                  <div>
                    <mat-card-title>{{ musica.titulo }}</mat-card-title>
                    <mat-card-subtitle>{{ musica.duracao | shortenTime }}</mat-card-subtitle>
                  </div>
                </div>
              </div>
            </mat-card>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
