<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 root">
      <div class="row title">
        <h1>Lista de Músicas</h1>
        <div class="search-section">
          <form #f="ngForm" (ngSubmit)="onSearchSubmit(f)">
            <input placeholder="Procurar por nome..." class="input-pesquisa" ngModel name="pesquisa">
          </form>
        </div>
      </div>
      <div class="row lista-musicas">
        <div class="item-musica" *ngFor="let musica of musicasRes || musicas">
          <mat-card class="card-musica">
            <div class="card-row">
              <div class="card-row">
                <img class="img-musica" [src]="musica.urlImagem">
                <div class="card-column">
                  <div>
                    <mat-card-title>{{ musica.titulo | shorten:17 }}</mat-card-title>
                    <mat-card-subtitle>{{ musica.duracao | shortenTime }}</mat-card-subtitle>
                  </div>
                  <div class="card-row actions">
                    <div class="container-icon-action">
                      <mat-icon class="icon-action" (click)="onMusicaEdit(musica)">create</mat-icon>
                    </div>
                    <div class="container-icon-action" (click)="onMusicaDelete(musica)">
                      <mat-icon class="icon-action">delete</mat-icon>
                    </div>
                    <div class="container-icon-action" (click)="onMusicaClick(musica)">
                      <mat-icon class="icon-action">visibility</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
