.mat-card-subtitle {
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.less-size {
  transform: scale(0.9);
}


.left-content {
  float: left;
  margin-left: 3px;
}

.comment-user {
  color: #000;
  font-weight: bolder;
  padding-left: 5px;
  margin: 5px 4px -2px -4px;
  padding-right: 5px;
  position: relative;
  background-color: #DDD9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.comment-text {
  color: #111;
  padding-top: 5px;
  margin-right: 65px;
}

.post-info {
  padding-top: 3px;
}

.mat-card-subtitle {
  margin-bottom: 3px;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #0009;
  cursor: pointer;
  position: relative;
  background-color: #FAFAFA;
  z-index: 5;
  margin-bottom: 4px;
}

.right-content {
  float: right;
  margin-right: 2%;
  padding-top: 5px;
  width: 74px;
  height: 26px;
  text-align: end;
}

.ver-mais, .ver-mais-full {
  color: #000099;
  cursor: pointer;
}
.ver-mais-full {
  float: left;
  margin-left: -12px;
}
button {
  outline: none;
}

.btns-acoes {
  position: absolute;
  margin-top: -10px;
  right: 2%;
  display: none;
}

.btns-acoes-edit {
  position: absolute;
  margin-top: -10px;
  right: 4%;
  background-color: #FAFAFA;
}

.txt-horario-pub, .txt-horario-pub-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-card-subtitle:hover .btns-acoes {
  display: initial;
}

mat-card-subtitle:hover .txt-horario-pub {
  display: none;
}

.input-edit {
  border: 1px solid #DDD;
  border-radius: 10px;
  margin-top: -4px;
  background-color: #FFFD;
}

.txt-comentario {
  margin-left: 30px;
  padding-right: 15px;
}
