<mat-card-subtitle>
  <img [src]="comentario && comentario.usuario && comentario.usuario.urlImagem ? comentario.usuario.urlImagem
  : 'assets/img/user-default.png'" [ngStyle]="{'border': comentario.usuario.urlImagem ? 'initial' : 'none'}"
       style="float: left;" class="avatar less-size">
  <div class="post-info">
    <div class="left-content comment-user">
      {{ comentario.usuario.nome }}
    </div>
    <div class="comment-text ">
      {{ comentario.texto }}
    </div>
  </div>
</mat-card-subtitle>
