<mat-card-subtitle class="root">
  <div class="greybg" [style]="'width:' + comentario.usuario.nome.length * 10.8 + 'px'"></div>
  <img [src]="comentario && comentario.usuario && comentario.usuario.urlImagem ? comentario.usuario.urlImagem
  : 'assets/img/user-default.png'" [ngStyle]="{'border': comentario.usuario.urlImagem ? 'initial' : 'none'}"
       style="float: left;" class="avatar less-size">
  <div class="post-info">
    <div class="left-content comment-user">
      {{ comentario.usuario.nome }}
    </div>
    <div class="data-pub right-content">
      <div class="btn-excluir">
        <button mat-icon-button>
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="txt-horario-pub">
        {{ comentario.dataPub | timeAgo }}
      </div>
      <br>
      <a class="ver-mais-full" (click)="onSeeMoreClick($event)" *ngIf="comentario.texto.length >= 147 && ! comentario.dontPipe">
        ver mais
      </a>
    </div>
    <div class="comment-text" [ngStyle]="{'margin-left': comentario.texto.length > 62 ? '8px' : '0'}">
      <div *ngIf="! comentario.dontPipe">
        {{ comentario.texto | seeMore:62:147 }}
        <a class="ver-mais" (click)="onSeeMoreClick($event)" *ngIf="comentario.texto.length > 62 && comentario.texto.length < 147 && ! comentario.dontPipe">
          ver mais
        </a>
      </div>
      <div *ngIf="comentario.dontPipe" style="margin-left: 30px; text-align: justify;">{{ comentario.texto }}</div>
    </div>
  </div>
</mat-card-subtitle>
