<div class="row col-xs-12 col-bs">
  <mat-card class="card-post">
    <div style="flex-direction: row;">
      <button type="button" style="float: right; box-shadow: none; outline: none;"
        class="fab-post-action" mat-mini-fab color="basic" [matMenuTriggerFor]="userMenu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <h5 *ngFor="let tag of post.tags" class="tag-text">#{{tag}} </h5>
      <mat-card-subtitle style="display: flex; flex: 1;">
        <img [src]="post && post.usuario && post.usuario.urlImagem ? post.usuario.urlImagem
          : 'assets/img/user-default.png'" [ngStyle]="{'border': post && post.usuario &&
           post.usuario.urlImagem ? 'initial' : 'none'}"
             style="justify-self: flex-start;" class="avatar less-size">
        <div style="display: flex; flex: 1; flex-direction: column">
          <div class="username">
            {{ post.usuario && post.usuario.nome }}
          </div>
          <div class="datetime" style="display: flex; flex-direction: row;">
            <div>
              {{ post.dataPub && post.dataPub | date: 'HH:mm'}}
            </div>
            <div>
              <mat-icon class="public-icon">public</mat-icon>
            </div>
          </div>
        </div>
      </mat-card-subtitle>
    </div>
    <mat-card-title>
      {{post && post.titulo}}
    </mat-card-title>
    <mat-card-content>
      {{post && post.texto }}
    </mat-card-content>
    <!-- A quantidade ideal de caracteres é por volta de 140 ^ -->
    <mat-divider></mat-divider>
      <div class="display-flex-row">
        <div class="display-flex-row">
          <mat-icon class="icon-favorites">favorite</mat-icon>
          <h5 class="favorite-count">{{post.quantFav}}</h5>
        </div>
        <div class="display-flex-row">
          <mat-icon class="icon-comments">chat</mat-icon>
          <h5 class="comment-count">{{post.quantCmt}}</h5>
        </div>
      </div>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="display-flex-row actions-card">
        <div class="display-flex-row">
          <button type="button" mat-mini-fab class="fab" style="outline: none" (click)="handleFavorite()">
            <mat-icon class="btn-heart">{{ post.favoritado ? 'favorite' : 'favorite_border' }}</mat-icon>
          </button>
          <h3>Favoritar</h3>
        </div>

        <div class="divider-like-comments"></div>
        <!-- <button type="button" mat-mini-fab class="fab" style="background-color: #F005;">
          <mat-icon>arrow_downwards</mat-icon>
        </button> -->
        <div class="display-flex-row">
          <button type="button" mat-mini-fab class="fab" color="basic" (click)="onHandleComment()" style="outline: none">
            <mat-icon>chat</mat-icon>
          </button>

          <h3>Comentar</h3>
        </div>
      </div>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <div *ngFor="let comentario of post.comentarios" style="display: flex; flex-direction: column; margin-bottom: -8px">
      <app-comment [comentario]="comentario" ></app-comment>
    </div>
    <app-comment-form [idPost]="post.id" *ngIf="commentMode"></app-comment-form>
  </mat-card>
</div>


<mat-menu #userMenu="matMenu">
  <button mat-menu-item type="button" style="outline: none">Editar</button>
  <button mat-menu-item type="button" (click)="onDelete()" style="outline: none">Excluir</button>
</mat-menu>
