* {
  outline: none;
}

.card-post {
  min-width: 150px;
  max-width: 650px;
  min-height: 100px;
  max-height: 600px;
  height: 100%;
  width: 90%;
  margin-bottom: 22px;
}

.col-bs {
  justify-content: center;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #0009;
  cursor: pointer;
}

hr {
  margin-bottom: 0;
  float: left;
}

.fab {
  margin-left: 8px;
}

.btn-heart {
  color: #D21;
}

.left-content {
  float: left;
  margin-left: 3px;
}

.public-icon {
  font-size: 16px;
  padding: 0;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 0 0 0 3px;
}

.datetime {
  font-size: 11px;
}

.mat-card-content {
  margin-bottom: 9px;
  margin-top: 3px;
}

.post-info {
  padding-top: 3px;
}

.mat-card-subtitle {
  margin-bottom: 3px;
}

.mat-card-title {
  margin-bottom: 0;
}

.username {
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
}

h5 {
  margin: 0 0 6px;
}

.favorite-count {
  margin: 1px 0 0 0;
  padding-top: 2px;
}

.comment-count {
  margin: 0 7px 0 0;
  padding-top: 2px;
}

h3 {
  margin: 0;
  padding-top: 8px;
  margin-left: 3px;
  font-size: 20px;
  font-weight: 500;
}

.mat-mini-fab {
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 4px 7px 0px rgba(0, 0, 0, 0.1), 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  transform: scale(0.92);
}

.mat-card {
  box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.3),
    0px 1px 1px 0px rgba(255, 255, 255, 0.2),
    0px 1px 3px 0px rgba(255, 255, 255, 0.18);
  background-color: #fafafa;
}

.fab-post-actions {
  transform: scale(0.78);
}

.tag-text {
  float: right;
  margin-right: 15px;
  margin-top: 8px;
  color: #009;
}


.display-flex-row {
  display: flex;
  flex-direction: row;
}

.mat-card-actions {
  margin-bottom: 0;
}

.icon-favorites {
  transform: scale(0.8);
  color: #AB0000;
}

.icon-comments {
  transform: scale(0.8);
}

.divider-like-comments {
  margin-right: 10px;
}

.mat-divider-horizontal {
  left: initial;
  width: 94%;
}

.space-between {
  justify-content: space-between;
}

.more-size {
  transform: scale(1.1);
}

.txt-horario {
  font-size: 1em;
  color: #000;
}

a {
  color: #888;
}

a:hover {
  color: #000;
}
