.card-post {
  min-width: 150px;
  max-width: 650px;
  min-height: 375px;
  width: 90%;
}

.col-bs {
  justify-content: center;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #0008;
}

hr {
  margin-bottom: 0;
}

.fab {
  margin-left: 8px;
}

.btn-heart {
  color: '#D21'
}

.left-content {
  float: left;
  margin-left: 3px;
}

.datetime {
  font-size: 11px;
}


.post-info {
  padding-top: 3px;
}

.mat-card-subtitle {
  margin-bottom: 3px;
}

.mat-card-title {
  margin-bottom: 0;
}

.username {
  color: #000;
  font-weight: bold;
}

h6 {
  margin: 0 0 6px;
}

.mat-mini-fab {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1), 0px 5px 8px 0px rgba(0, 0, 0, 0.1), 0px 1px 9px 0px rgba(0, 0, 0, 0.1);
}

.mat-card {
  box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.3), 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 3px 0px rgba(255, 255, 255, 0.18);
  background-color: #fafafa;
}
