.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.flex-row1 {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flex-column1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.img-musica {
  object-fit: contain;
  border-radius: 10%;
}

p {
  color: #FAFAFA;
}
