img {
  object-fit: contain;
  max-width: 260px;
  max-height: 260px;
  border-radius: 100%;
  box-shadow: 3px 3px 3px 2px #0007;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

h1 {
  font-weight: bold;
  margin-top: 15px;
}

button {
  outline: none;
}
