hr {
  margin-bottom: 0;
  float: left;
}

.fab {
  margin-left: 8px;
}

.left-content {
  float: left;
  margin-left: 3px;
}

.datetime {
  font-size: 11px;
}

.mat-card-content {
  margin-bottom: 9px;
  margin-top: 3px;
}


.post-info {
  padding-top: 3px;
}

.mat-card-subtitle {
  margin-bottom: 3px;
}

.mat-card-title {
  margin-bottom: 0;
}

.username {
  color: #000;
  font-weight: bold;
}

h6 {
  margin: 0 0 6px;
}

.mat-mini-fab {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1), 0px 5px 8px 0px rgba(0, 0, 0, 0.1), 0px 1px 9px 0px rgba(0, 0, 0, 0.1);
}

.mat-card {
  box-shadow: 0px 2px 1px -1px rgba(255, 255, 255, 0.3), 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 1px 3px 0px rgba(255, 255, 255, 0.18);
  background-color: #fafafa;
}

textarea {
  width: 100%;
  border: 1px solid #f1f1f1;
  padding-left: 8px;
  background-color: #fdfdfd;
  height: 100px;
  border-radius: 15px;
  margin-bottom: 8px;
  resize: none;
}


.input-titulo-post {
  width: 64%;
  min-height: 40px;
  border: 1px solid #f2f2f2;
  border-radius: 9px;
  padding-left: 8px;
  margin-left: 5px;
  margin-bottom: 2px;
  font-weight: bold;
}

.input-tags-post {
  min-height: 40px;
  border: 1px solid #f2f2f2;
  border-radius: 9px;
  padding-left: 8px;
  margin-left: 8px;
  margin-bottom: 2px;
  font-weight: bold;
  min-width: 50px;
  max-width: 150px;
}

.card-post {
  border-bottom: 5px solid #673ab7;
  border-radius: 8px;
}

.mat-card-actions {
  margin-bottom: 0;
  margin-top: 3px;
}

.input-form-post.ng-invalid.ng-touched {
  border-color: #ff223388;
}

.add-icon {
  font-size: 42px;
  margin-right: 28px;
}

h5 {
  color: #53F;
  margin-top: 10px;
  margin-left: 15px;
}

button {
  outline: none;
}

.tags {
  display: flex;
  flex-direction: row;
  margin: 10px 4px;
}

.icon-remove-dialog {
  font-size: 14px;
  width: 14px;
  height: 14px;
  user-select: none;
  padding: 0;
}

.tag {
  border-radius: 8px;
  background-color: #AAA5;
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
