<div class="container">
  <div class="row">
    <h1 class="sorry-text" *ngIf="txtSorryVisible">
      Desculpe, infelizmente ainda não há uma letra para esta música :(
      <br>
      Que tal adicionar uma?
    </h1>
    <div class="text-editor">
      <div class="row">
        <h1 class="nome-musica-artista">
          <label class="select-idioma" style="opacity: 0; pointer-events: none;">
            <select name="aaaaa">
              <option value="PT-BR">XX-XX</option>
              <option value="EN-US">XX-XX</option>
            </select>
          </label>
          {{ musica.artistaMusicas[0].artista.nome }} - {{ musica.titulo }}
          <label class="select-idioma text-size">
            <select name="idioma" class="idioma" [(ngModel)]="idioma">
              <option *ngFor="let option of options" [value]="option">{{ option }}</option>
            </select>
          </label>
        </h1>

      </div>
      <angular-editor [placeholder]="'Insira a letra da música...'" [(ngModel)]="textoLetra" [disabled]="finished" [config]="editorConfig" (paste)="onPaste($event)"></angular-editor>
      <button [disabled]="! textoLetra || textoLetra.length < 15 || finished" class="btn-enviar" mat-raised-button color="accent" (click)="onSubmit()">Enviar</button>
    </div>
  </div>
</div>
