.material-card {
  height: 100%;
  width: 85%;
  background-color: #FAFAFA;
  margin-top: 8px;
  float: right;
}



.logo {
  width: 40%;
  height: auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-container {
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.signin-button {
  width: 100%;
  justify-self: center;
}

.password-input {
  margin-bottom: 25px;
}

.content {
  background-color: #D9C100;
}

.row {
  justify-content: flex-end;
  min-height: 98vh;
}

.container {
  justify-content: flex-end;
}

.form-divider {
  min-height: 2%;
}

@media (min-width: 1200px) and (max-width: 1360px) {
  .material-card {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .material-card {
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
    margin-bottom: 2px;
    float: initial;
  }
}
