<div class="row col-xs-12 col-bs">
  <mat-card class="card-post">
    <div style="flex-direction: row;">
      <h6 *ngFor="let tag of post.tags" style="float: right; margin-right: 3px;">#{{tag}}</h6>
      <mat-card-subtitle>
        <img [src]="post.usuario.urlImagem" style="float: left;" class="avatar">
        <div class="post-info">
          <div class="left-content username">
            {{ post.usuario.nome }}
          </div>
          <br>
          <div class="left-content datetime">
            {{ post.dataPub | date: 'HH:mm'}}
          </div>
        </div>
        <br>
      </mat-card-subtitle>
    </div>
    <mat-card-title>
      {{post.titulo}}
    </mat-card-title>
    <mat-card-content>
      {{ post.texto }}
    </mat-card-content>
    <!-- A quantidade ideal de caracteres é por volta de 140 ^ -->
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button type="button" mat-mini-fab class="fab">
        <mat-icon class="btn-heart">favorite_border</mat-icon>
      </button>
      <button type="button" mat-mini-fab class="fab" style="background-color: #F005;">
        <mat-icon>arrow_downwards</mat-icon>
      </button>
      <button type="button" mat-mini-fab class="fab" color="basic">
        <mat-icon>chat</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
