<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Seções</h1>
    <div class="content">
      <a mat-button [routerLink]="['../musicas']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Músicas
              </div>
            </mat-card-title>
            <img src="https://lastfm.freetls.fastly.net/i/u/ar0/14a075714bd2f28bda94646cdcc25deb.jpg" alt="The Strokes - At The Door">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['../artistas']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Artistas
              </div>
            </mat-card-title>
            <img src="https://i.scdn.co/image/1b3f803a97fda41ada6a5cdc16b51b4940f7059f" alt="Tim Maia">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['../albuns']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Álbuns
              </div>
            </mat-card-title>
            <img src="https://i.scdn.co/image/ab67616d00001e023fb6bc46c932ca1ab168526a" alt="Joy Division - Unknown Pleasures">
          </div>
        </mat-card>
      </a>
      <a mat-button>
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Administradores
              </div>
            </mat-card-title>
            <img src="https://i.scdn.co/image/ab67616d00001e023fb6bc46c932ca1ab168526a" alt="Joy Division - Unknown Pleasures">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
