<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Seções</h1>
    <div class="content">
      <a mat-button [routerLink]="['../musicas']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Músicas
              </div>
            </mat-card-title>
            <img src="assets/img/atthedoor.jpg" alt="The Strokes - At The Door">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['../artistas']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Artistas
              </div>
            </mat-card-title>
            <img src="assets/img/tim.jpg" alt="Tim Maia">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['../albuns']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Álbuns
              </div>
            </mat-card-title>
            <img src="assets/img/up.jpg" alt="Joy Division - Unknown Pleasures">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['../list']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Administradores
              </div>
            </mat-card-title>
            <img src="assets/img/dsotm.png" alt="Pink Floyd - The Dark Side of the Moon">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
