<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Seções</h1>
    <div class="content">
      <a mat-button [routerLink]="['lista']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Listar Álbuns
              </div>
            </mat-card-title>
            <img src="assets/img/elhuervo.jpg">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['add']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Adicionar Álbum
              </div>
            </mat-card-title>
            <img src="assets/img/tcoftk.jpg" alt="King Crimson - The Court of the Crimson King">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
