<div class="col-xs-12">
  <h1>Registro</h1>
  <hr>
  <form class="form-group">
    <label for="email-input">E-mail</label>
    <input type="text" name="email" id="email-input" class="form-control" placeholder="Insira seu e-mail..." [(ngModel)]="usuario.email">
    <label for="nome-input">Nome</label>
    <input type="text" name="nome" id="nome-input" class="form-control" placeholder="Nome" [(ngModel)]="usuario.nome">
    <label for="password-input">Senha</label>
    <input type="password" name="senha" id="password-input" class="form-control" placeholder="Mínimo de 6 caracteres..." [(ngModel)]="usuario.senha">
    <br>
    <button class="btn btn-outline-primary" (click)="registrar()">Registrar-se</button>
  </form>
</div>
