<div class="container-fluid">
  <div class="row">
    <div class="flex-column1">
      <div class="container-pdf">
        <pdf-viewer [src]="partitura.urlPdf" [stick-to-page]="true" [zoom]="1.25"></pdf-viewer>
      </div>
    </div>
    <div class="flex-column1 information">
      <h1 class="titulo-partitura">{{ partitura.titulo }}</h1>
      <div class="flex-row0 row-info-usuario">
        <a [routerLink]="'/perfil/id/' + partitura.usuarioId">
          <img class="img-usuario" [src]="partitura.usuario.urlImagem || 'assets/img/user-default.png'">
        </a>
        <div class="flex-column1 info-usuario">
          <a [routerLink]="'/perfil/id/' + partitura.usuarioId">
            <h1>{{ partitura.usuario.nome }}</h1>
          </a>
        </div>
      </div>
      <div class="flex-row1 row-info-musica">
        <a [routerLink]="'/musicas/id/' + partitura.musicaId">
          <img class="img-musica" [src]="partitura.musica.urlImagem">
        </a>
        <div class="flex-column1 info-musica">
          <a [routerLink]="'/musicas/id/' + partitura.musicaId"><h1 [routerLink]="'/musicas/id/' + partitura.musicaId">{{ partitura.musica.titulo }}</h1></a>
          <h2>{{ partitura.musica.artistaMusicas | artistas:'string' }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
