.container-pdf {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #525252;
}

pdf-viewer {
  min-height: 90vh;
  height: 94.5vh;
  width: 64vw;
}

.flex-column1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-column0 {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.flex-row1 {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flex-row0 {
  display: flex;
  flex-direction: row;
  flex: 0;
}

h1 {
  color: #FDFDFD;
  font-size: 1.8em;
}

h2 {
  color: #FAFAFA;
  font-size: 0.8em;
  margin-top: -8px !important;
}

h1, h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.img-musica {
  height: 70px;
  width: 70px;
  border-radius: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

.img-usuario {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-right: 4px;
}

.info-musica {
  margin-top: 16px;
  margin-left: 5px;
}

.titulo-partitura {
  font-size: 2em;
}

.row-info-musica {
  margin-top: 20px;
}

.information {
  margin-top: 10px;
  margin-left: 16px;
}

.info-usuario {
  margin-top: 30px;
}

.row-info-usuario {
  margin-top: 20px;
}

a {
  color: #673ab7;
}
