<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Seções</h1>
    <div class="content">
      <a mat-button [routerLink]="['lista']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Listar Artistas
              </div>
            </mat-card-title>
            <img src="https://lastfm.freetls.fastly.net/i/u/ar0/14a075714bd2f28bda94646cdcc25deb.jpg" alt="The Strokes - At The Door">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['add']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Adicionar Artista
              </div>
            </mat-card-title>
            <img src="https://i.scdn.co/image/1b3f803a97fda41ada6a5cdc16b51b4940f7059f" alt="Tim Maia">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
