<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Artistas</h1>
    <div class="content">
      <a mat-button [routerLink]="['lista']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Listar Artistas
              </div>
            </mat-card-title>
            <img src="assets/img/hs.jpg" alt="Queen - Hot Space">
          </div>
        </mat-card>
      </a>
      <a mat-button [routerLink]="['add']">
        <mat-card>
          <div class="flex-column">
            <mat-card-title>
              <div>
                Adicionar Artista
              </div>
            </mat-card-title>
            <img src="assets/img/ram.jpg" alt="Daft Punk - Random Access Memories">
          </div>
        </mat-card>
      </a>
    </div>
  </div>
</div>
