.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.content {
  margin-top: 20px;
  flex: 1;
}

.img-perfil {
  min-width: 400px;
  max-width: 400px;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  font-size: 2.4em;
  color: #FFF;
  text-align: center;
  margin-top: 8px;
}

.icon-camera {
  display: none;
  position: absolute;
  font-size: 250px;
  top: 100px;
  right: 55.4vw;
  border-radius: 50%;
}

h2 {
  color: #F9F9F9;
}

.posts {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  border: 1px solid #673ab7;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  max-width: 920px;
  width: 95%;
  padding-bottom: 14px;
}

.flex-column1, .flex-row1 {
  display: flex;
  flex: 1;
}

.flex-column1 {
  flex-direction: column;
}

.flex-row1 {
  flex-direction: row;
}

.root {
  width: 100vw;
}

@media (max-width: 1255px) {
  .icon-camera {
    right: 60vw;
  }
}

@media (max-width: 525px) {
  .img-perfil {
    min-width: 300px;
    max-width: 300px;
  }
  .icon-camera {
    right: 68vw;
    font-size: 230px;
    margin-top: -36px;
  }
}

a {
  padding: 0;
}

.img-perfil:hover + mat-icon {
  display: initial;
}
.propic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-selector {
  width: 0 !important;
  height: 0 !important;
  opacity: 0.01 !important;
}

app-post {
  width: 100% ;
}
