<div class="container">
  <div class="root">
    <div class="col-xs-12">
      <div class="content">
        <div class="root">
          <div class="propic-container" (click)="isOwnProfile && fileSelector.click()">
            <input type="file" accept="image/x-png,image/jpeg" class="file-selector" #fileSelector (change)="onSelectPropic(fileSelector)">
            <img class="img-perfil" [src]="usuario && usuario.urlImagem || 'assets/img/user-default.png'" [ngStyle]="{'cursor': isOwnProfile ? 'pointer' : 'initial'}">
            <mat-icon style="user-select: none; pointer-events: none;" class="icon-camera" size="250px" *ngIf="isOwnProfile">camera_alt</mat-icon>
          </div>
          <h1>{{ usuario && usuario.nome }}</h1>
        </div>
        <br>
        <div class="flex-row1 justify-content-center" *ngIf="posts && posts.length">
          <div class="posts">
            <h2>Posts recentes:</h2>
            <app-post [showActions]="false" *ngFor="let post of posts" [post]="post"></app-post>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
