<div class="container">
  <div class="row">
    <div class="flex-column1 center">
      <div class="flex-row1 info-musica">
        <div class="flex-column1 f-center">
          <div class="flex-row1">
            <img class="img-artista" [src]="tab.musica.artistaMusicas[0].artista.urlImagem">
            <div class="flex-column1 coluna-artista-musica">
              <div class="txt-nome-musica">
                <a [routerLink]="['/musica/' + tab.musica.id]" style="color: #FAFAFA;" class="nome-musica">
                  {{ tab.musica.titulo }}
                </a>
                ({{ tab.instrumento !== 'Violao' ? tab.instrumento : 'Violão' }})
              </div>
              <div class="txt-artista">
                <div [innerHTML]="tab.musica.artistaMusicas | artistas"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="flex-column1 center">
        <p class="titulo">{{ tab.titulo }}</p>
        <p class="afinacao">Afinação: {{ tab.afinacao }}</p>
        <br>
        <p *ngIf="tab.descricao">{{ tab.descricao }}</p>
        <div class="tab-container">
          <pre style="color: #FFF" class="tab" [innerHTML]="tab.textoHtml"></pre>
        </div>
      </div>
      <mat-card class="card-autor" [routerLink]="['/perfil/id/' + tab.usuarioId]">
        <p class="autor">Autor</p>
        <img class="img-autor" [src]="tab.usuario.urlImagem || 'assets/img/user-default.png'">
        <p class="nome-autor">{{ tab.usuario.nome }}</p>
      </mat-card>
    </div>
  </div>
</div>
