.container {
  margin-top: 15px;
}

.img-artista {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.img-autor {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.row {
  flex: 1;
  justify-content: center;
}

.card-letra {
  padding-top: 5px;
  min-width: 30%;
}

.mat-card-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  font-size: 1vw;
  margin-left: 10px;
  font-family: monospace;
  text-align: center;
}

.txt-nome-musica {
  font-size: 2.2em;
  font-weight: 500;
  margin: -6px 0 0 0;
  padding: 0;
}

.txt-artista {
  font-size: 1.25em;
  margin: -8px 0 0 0;
  padding: 0;
}

.txt-nome-musica, .txt-artista {
  text-align: start;
}

.col-img-artista {
  flex: 0;
}

.flex-row1 {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flex-column1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-column1.center {
  align-items: center;
}

.flex-column0 {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.coluna-artista-musica {
  margin-top: 2px;
  margin-left: 10px;
  align-items: stretch;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.info-musica {
  margin: 10px 0 15px;
  justify-content: center;
}

.f-center {
  align-self: center;
  align-items: center;
}

* {
  color: #FAFAFA;
}

a {
  color: #673AB7;
}

.card-autor {
  width: 35%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

.autor {
  font-size: 2em;
  color: #000;
}

.nome-autor {
  font-size: 1.85em;
  color: #111;
}

.titulo {
  font-size: 1.45em;
  margin-bottom: 1px;
}

.afinacao {
  margin-bottom: 0;
}

.tab-container {
  display: flex;
  justify-content: center;
}

pre {
  color: #FFF !important;
}

@media (max-width: 1600px) {
  .tab {
    font-size: 1.2vw;
  }
}

@media (max-width: 1200px) {
  .tab {
    font-size: 1.3vw;
  }
}

@media (max-width: 900px) {
  .tab {
    font-size: 1.7vw;
  }
}
