.card-root {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.container-fluid {
  margin-top: 15px;
}

h1 {
  color: #FFF;
  text-align: center;
}

.content {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex: 1;
  justify-content: center;
}

.mat-card {
  min-width: 330px;
  min-height: 330px;
  max-width: 750px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #FFF4;
}

.flex-column {
  display: flex;
  flex: 1;
  align-items: center;
}

img {
  object-fit: contain;
  max-width: 260px;
  max-height: 260px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 2px #0007;
  align-self: center;
  pointer-events: none;
}

a {
  margin-bottom: 15px;
}

@media (max-width: 1370px) {
  .content {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.mat-form-field {
  cursor: text;
  width: 100%;
}

.btn-submit {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 25px;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  outline: none;

}

.btn-img {
  margin-right: auto;
  width: 180px;
  margin-top: 5px;
}

input[type='file'] {
  opacity: 0.1;
  height: 0px;
  width: 0px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.p-check {
  align-self: center;
  font-size: 24px;
  color: #2D1;
  margin-top: 5px;
  margin-left: 5px;
}

.snackbar-error {
  background: #AB0000;
  color: #000;
  font-size: 26px;
}

.snackbar-success {
  background-color: #291;
}

.result-text {
  margin-left: 15px;
  height: 45px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.result-text-last {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.result:hover {
  background: #F8F8F8;
}

.list-results {
  position: absolute;
  z-index: 3;
  margin-top: 16px;
  width: 103%;
  margin-left: -10px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #5557;
}

.form-array-musicas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.input-titulo-musica {
  justify-self: start;
  margin-right: 10px;
}

.row-musicas {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.btn-add-musica {
  margin-top: 10px;
}

.btn-remover-musica {
  background-color: #AB0000;
  border-radius: 50%;
  transform: scale(0.65);
  font-size: 25px;
  position: absolute;
  right: 0;
  margin: -30px -4px 0 0;
  opacity: 0.9;
}

.img-artista {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  box-shadow: none;
  margin-top: -15px;
  border-radius: 50%;
}

.item-musica {
  border: 2px solid #673AB7AA;
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  margin: 0 -4px 0 -4px;
  padding: 0 4px 0 4px;
  margin-bottom: 5px;
}
