<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Adicionar Álbum</h1>
    <div class="content">
      <mat-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="display-flex-column">
            <mat-form-field appearance="outline">
              <mat-label>Título</mat-label>
              <input id="input-titulo" matInput name="titulo" required formControlName="titulo">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Artista *</mat-label>
              <input id="input-artista" matInput name="artista" formControlName="artista" (input)="onArtistaTxtChange()">
              <img [src]="artista.urlImagem" class="img-artista" *ngIf="artista && artista.urlImagem">
              <div class="list-results" *ngIf="artistas && ! resultsClosed">
                <div *ngFor="let artista of artistas; let i = index;" class="result"
                  [ngClass]="{'result-text-last': i === artistas.length - 1}"
                  (click)="onSelectArtista(artista)">
                  <mat-divider></mat-divider>
                  <div class="result-text">
                    <p>{{ artista.nome }}</p>
                  </div>
                </div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>URL do Embed do Spotify</mat-label>
              <input id="input-url-spotify" matInput name="urlSpotify" formControlName="urlSpotify"  [ngModel]="urlSpotify | urlSpotify" (ngModelChange)="urlSpotify=$event">
            </mat-form-field>
            <div formArrayName="musicas" class="form-array-musicas" *ngIf="musicasForm.controls.length > 0">
              Músicas
              <div class="item-musica" *ngFor="let musica of musicasForm.controls; let i = index;" [formGroupName]="i">
                <div class="row-musicas">
                  <mat-form-field appearance="outline" class="input-titulo-musica">
                    <mat-label>Título</mat-label>
                    <input id="input-titulo-musica" matInput name="titulo" formControlName="titulo">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="input-duracao-musica" style="width: 58px; margin-right: 5px;">
                    <mat-label>Faixa</mat-label>
                    <input id="input-faixa-musica" type="number" matInput name="Faixa" formControlName="faixa">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="input-duracao-musica" style="width: 90px;">
                    <mat-label>Duração</mat-label>
                    <input id="input-duracao-musica" matInput name="duracao" formControlName="duracao" mask="Hh:m0:s0" [dropSpecialCharacters]="false">
                  </mat-form-field>
                  <button type="button" mat-icon-button class="btn-remover-musica" (click)="deleteMusica(i)">
                    x
                  </button>
                </div>
                <div class="row-musicas">
                  <mat-form-field appearance="outline" class="input-titulo-musica">
                    <mat-label>URL do Embed do Spotify</mat-label>
                    <input id="input-url-spotify-musica" matInput [ngModel]="urlSpotify" name="urlSpotify" formControlName="urlSpotify">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="input-titulo-musica">
                    <mat-label>URL para ouvir no YouTube</mat-label>
                    <input id="input-url-youtube" matInput name="urlYoutube" formControlName="urlYoutube">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <button mat-raised-button color="primary" type="button" class="btn-add-musica" (click)="addMusica()">Adicionar Música</button>
            <img *ngIf="image && image.src" class="image-preview" [src]="image.src">
            <div class="flex-row">
              <label for="input-img">
                <button type="button" (click)="inputFile.click()" mat-raised-button color="accent" class="btn-img">
                  Capa do Álbum *
                </button>
              </label>
              <p class="p-check" *ngIf="image">✔</p>
            </div>
            <input #inputFile type="file" id="input-img" accept="image/png, image/jpeg"
                   (change)="processFile(inputFile)"
            >
            <button class="btn-submit" type="submit" mat-raised-button color="primary" [disabled]="form.invalid || ! image || loading">Salvar</button>
          </div>
        </form>
      </mat-card>

      <!-- <img *ngIf="image" [src]="image.src"> -->
    </div>
  </div>
</div>
